<body id="bg" style="width:100%;background-color:rgb(241, 242, 245);background-image: url(assets/img/svg.png);background-attachment:fixed;background-size: cover;"></body>
<head>
    <link rel="shortcut-icon" href="assets/img/disk.png">
    <link rel="icon" href="assets/img/disk.png">

    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/nav.css">
    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="stylesheet" href="assets/css/foot.css">
    <link rel="stylesheet" href="assets/css/postPrev.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="assets/fontawesome/css/solid.css">
    <link rel="stylesheet" href="assets/fontawesome/css/brands.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
</head>