<div class="bar">
    <ul>
        <li>
            <div class="icon">
                <!--<a href="{{site.url}}">
                    <div class="icon-img">
                        <img src="assets/img/disk.png" alt="图标"></img>
                    </div>
                </a>-->
                <div class="icon-img">
                    <img src="assets/img/disk.png" alt="图标"></img>
                </div>
                <!--<div class="icon-con">
                    <h2>MHYC的博客</h2>
                </div>-->
            </div>
        </li>
        <li>
            <a href="{{site.url}}{{site.baseurl}}/" class="link">
                <div class="item">
                    <div class="item-icon" style="margin-left: 2px;">
                        <i class="fa-solid fa-book-open"></i>
                    </div>
                    <div class="item-con">
                        <p>博文</p>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="{{site.url}}{{site.baseurl}}/tags" class="link">
                <div class="item">
                    <div class="item-icon" style="margin-left: 6px;">
                        <i class="fa-solid fa-tag"></i>
                    </div>
                    <div class="item-con" style="margin-left: 13px;">
                        <p>标签</p>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="{{site.url}}{{site.baseurl}}/archive" class="link">
                <div class="item">
                    <div class="item-icon" style="margin-left: 2px;">
                        <i class="fa-solid fa-box-archive"></i>
                    </div>
                    <div class="item-con" style="margin-left: 13px;">
                        <p>归档</p>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="{{site.url}}{{site.baseurl}}/gallery" class="link">
                <div class="item">
                    <div class="item-icon" style="margin-left: 2px;">
                        <i class="fa-solid fa-image"></i>
                    </div>
                    <div class="item-con" style="margin-left: 13px;">
                        <p>画廊</p>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="{{site.url}}{{site.baseurl}}/about" class="link">
                <div class="item">
                    <div class="item-icon" style="margin-left: 2px;">
                        <i class="fa-solid fa-circle-info"></i>
                    </div>
                    <div class="item-con" style="margin-left: 13px;">
                        <p>关于</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="zw"></div>