<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/nav.css">
    {% include fontawesome.html %}
</head>

<body>
    <div class="wrap">
        <div class="nav">
            <!-- ICON -->
            <!-- MHYC的博客 -->

            <!-- 三个圆 红黄绿 -->
            <!-- BTN:首页,标签,画廊,关于 -->
            <div class="icon">
                <div class="icon-img"><img src="assets/img/disk.png" alt="icon"></div>
                <div class="icon-con">
                    <h2>MHYC的博客</h2>
                    <p>UwU</p>
                </div>
            </div>
            <div class="btn">
                <div class="nav-btn-item"></div>
                <div class="nav-btn-item"></div>
                <div class="nav-btn-item"></div>
            </div>
            <div class="menu">
                <a href="/">
                    <div class="nav-menu-item">
                        <div class="light"></div>
                        <div class="licon"><i class="fa-solid fa-book-open"></i></div>
                        <div class="con">博文</div>
                        <div class="ricon"></div>
                    </div>
                </a>
                <a href="tags">
                    <div class="nav-menu-item">
                        <div class="light"></div>
                        <div class="licon"><i class="fa-solid fa-tag"></i></div>
                        <div class="con">标签</div>
                        <div class="ricon"></div>
                    </div>
                </a>
                <a href="gallery">
                    <div class="nav-menu-item">
                        <div class="light"></div>
                        <div class="licon"><i class="fa-solid fa-image"></i></div>
                        <div class="con">画廊</div>
                        <div class="ricon"></div>
                    </div>
                </a>
                <a href="about">
                    <div class="nav-menu-item">
                        <div class="light"></div>
                        <div class="licon"><i class="fa-solid fa-circle-info"></i></div>
                        <div class="con">关于</div>
                        <div class="ricon"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>