*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
}
.foot-wrap{
    margin-top: 20px;
    text-align: center;
    height: 10px;
    color: rgba(0,0,0,0.5);
}